<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>top page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/assets/css/paper-kit.css?v=2.0.1" rel="stylesheet"/>
    <link href="bootstrap/assets/css/demo.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    
    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css' />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <link href="bootstrap/assets/css/nucleo-icons.css" rel="stylesheet" />
    <style>
    p.msg { border:solid 1px lightgray; padding:10px; }
    </style>
</head>
<body>
<div th:replace="navi::nav"></div>
<div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('bootstrap/assets/img/antoine-barres.jpg')">
            <div class="filter"></div>
    		<div class="content-center">
    			<div class="container">
    				<div class="title-brand">
    					<h1 class="presentation-title">Big Hurricane & Yabedan</h1> 
    					<div class="fog-low">
    						<img src="bootstrap/assets/img/fog-low.png" alt="" />
    					</div>
    					<div class="fog-low right">
    						<img src="bootstrap/assets/img/fog-low.png" alt="" />
    					</div>
    				</div>

    				<h2 class="presentation-subtitle text-center">Make your mark with a Free Bootstrap 4 UI Kit! </h2>
    			</div>
    		</div>
            <div class="moving-clouds" style="background-image: url('bootstrap/assets/img/clouds.png'); ">
            </div>
    	</div>
<div class="main">
	<div class="section">
    	<div class="container">
			 <div class="tim-title">
				 <h2>Information</h2>
			 </div>
             <div class="row">
                 <div class="col-md-8">
                 	<ul class="information-list">
						<li>12月の練習スケジュールについて　（2017/11/01）</li>
						<li>東戸塚校長杯の詳細について　（2017/11/14）</li>
					</ul>
					<p class="information-list-link"><a class="btn btn-link btn-success" href="/information"> >> お知らせ一覧へ</a></p>
			 	</div>
			 </div>
			 <div class="row">
                 <div class="col-md-8">
                 	<ul class="information-list">
						<li th:each="information: ${informationList}" class="information-list"
							th:text="|${information.title} 　( ${information.displayRegistDate} )|"></li>
					</ul>
					<p class="information-list-link"><a class="btn btn-link btn-success" href="/information"> >> お知らせ一覧へ</a></p>
			 	</div>
			 </div>
			<div class="row">
                 <div class="col-md-8">
                 	<ul class="information-list">
						<li th:each="info: ${topForm.informationList}" class="information-list"
							th:text="|${info.title} 　( ${#dates.format(info.registDate, 'yyyy/MM/dd HH:mm')} )|"></li>
					</ul>
					<p class="information-list-link"><a class="btn btn-link btn-success" href="/information"> >> お知らせ一覧へ</a></p>
			 	</div>
			 </div>
			 <!--
			 <div class="panel-body">
			 	<ul class="infolist">
				 <?php foreach ($information as $info): ?>
				 		<li>
						<a class="btn-default" href="/information/view/<?= h($info['seq']) ?>">
							<?= h($info['title']) ?>
							<span class="regist-info">
							<?= " （".  date('Y/m/d h:i',strtotime(h($info['display_regist_date']))). " ". h($info['author']). "） " ?>
						  </span>
						</a>
						</li>
				 <?php endforeach; ?>
				 <li><a class="btn-default" href="/information">>> お知らせ一覧へ</a></li>
			 	</ul>
		  	</div>
		  	  -->

             <div class="tim-title">
                 <h2>Basic Elements</h2>
             </div>
             <div id="buttons">
                 <div class="tim-title">
                     <h3>Buttons
                         <br/>
                         <small>Pick your style</small>
                     </h3>
                 </div>
                 <div class="row">
                     <div class="col-md-8">
                         <button type="button" class="btn btn-danger">Default</button>
                         <button type="button" class="btn btn-danger btn-round">Round</button>
                         <button type="button" class="btn btn-danger btn-round"><i class="fa fa-heart"></i> With Icon</button>
                         <button type="button" class="btn btn-danger btn-just-icon"><i class="fa fa-heart"></i></button>
                         <button type="button" class="btn btn-danger btn-link">Simple</button>
                     </div>
                 </div>
                 <div class="tim-title">
                     <h3><small>Pick your size</small></h3>
                 </div>
                 <div class="row">
                     <div class="col-md-8">
                         <button type="button" class="btn btn-outline-danger btn-sm">Small</button>
                         <button type="button" class="btn btn-outline-danger">Regular</button>
                         <button type="button" class="btn btn-outline-danger btn-lg">Large</button>
                     </div>
                 </div>
                 <div class="tim-title">
                     <h3><small>Pick your color</small></h3>
                 </div>
                 <div class="row">
				<div class="col-md-8">
					<button type="button" class="btn btn-outline-default btn-round">Default</button>
					<button type="button" class="btn btn-outline-primary btn-round">Primary</button>
				                         <button type="button" class="btn btn-outline-info btn-round">Info</button>
				                         <button type="button" class="btn btn-outline-success btn-round">Success</button>
				                         <button type="button" class="btn btn-outline-warning btn-round">Warning</button>
				                         <button type="button" class="btn btn-outline-danger btn-round">Danger</button>
				</div>
                 </div>
                 <br/>
                 <div class="row">
                     <div class="col-md-8">
						 <button type="button" class="btn btn-default btn-round">Default</button>
                         <button type="button" class="btn btn-primary btn-round">Primary</button>
                         <button type="button" class="btn btn-info btn-round">Info</button>
                         <button type="button" class="btn btn-success btn-round">Success</button>
                         <button type="button" class="btn btn-warning btn-round">Warning</button>
                         <button type="button" class="btn btn-danger btn-round">Danger</button>
                     </div>
           </div>
             </div>
                 <br/>
             <div class="tim-title">
                 <h3>Links</h3>
             </div>
             <div class="row">
                 <div class="col-md-8">
                     <a href="#0" class="btn btn-link btn-default">Default</a>
                     <a href="#0" class="btn btn-link btn-primary">Primary</a>
                     <a href="#0" class="btn btn-link btn-success">Success</a>
                     <a href="#0" class="btn btn-link btn-info">Info</a>
                     <a href="#0" class="btn btn-link btn-warning">Warning</a>
                     <a href="#0" class="btn btn-link btn-danger">Danger</a>
                     <a href="#0" class="btn btn-link btn-neutral">Neutral</a>
                 </div>
             </div>
             <br/>
             <div class="tim-title">
                 <h3>Inputs</h3>
             </div>
             <div class="row">
                 <div class="col-sm-3">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Default">
				</div>
                 </div>
                 <div class="col-sm-3">
                     <div class="form-group has-success">
                         <input type="text" class="form-control form-control-success" id="inputSuccess1" value="Success">
                     </div>
                 </div>
                 <div class="col-sm-3">
                     <div class="form-group has-danger">
                         <input type="text" class="form-control form-control-danger" id="inputDanger1" value="Error">
                         <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
                     </div>
                 </div>
                 <div class="col-sm-3">
                     <div class="input-group">
                         <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                         <span class="input-group-addon" id="basic-addon1"><i class="fa fa-group" aria-hidden="true"></i></span>
                     </div>
                 </div>
             </div>
             <br/>
             
		</div>
	</div>
</div>
<p class="msg" th:text="${msg}" />
</div>
</body>

<!-- Core JS Files -->

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/bootstrap/assets/js/tether.min.js" type="text/javascript"></script>
<script src="/bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript" ></script>
<script src="/js/member.js" type="text/javascript" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>

<!-- Plugin for Switches -->
<script src="/bootstrap/assets/js/bootstrap-switch.min.js"></script>

<!--  Plugins for Slider -->
<script src="/bootstrap/assets/js/nouislider.js"></script>

<!--  Paper Kit Initialization snd functons -->
<script src="/bootstrap/assets/js/paper-kit.js?v=2.0.1"></script>

</html>